html {
    font-size: 14px;
}

body {
    margin: 0;
    padding: 0;
    font-family: Georgia, serif;
    background: white;
    color: black;
}

* {
    box-sizing: border-box;
    color: inherit;
}

h1 {
    font-size: 2rem;
}

.top {
    background-color: black;
}

.topInner {
    max-width: 1200px;
    height: 60px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.topContact a {
  display: flex;
  align-items: center;
}

.topContact a:hover,
.topContact a:focus {
    color: yellow;
    outline-color: yellow;
}

.topLogin a:hover,
.topLogin a:focus {
    outline: 2px solid yellow;
}

.siteName {
    max-width: 1200px;
    margin: 30px auto;
}

.siteName img {
    transition: opacity 500ms;
}

.siteName img:hover {
    opacity: 0.5;
}

.siteName a:focus {
    outline-color: grey;
}



@media screen and (max-width:767px) {
    *:focus {
        outline-color: transparent;
    }

    .topInner {
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .siteName {
        text-align: center;
    }
}