html {
    font-size: 14px;
}

body {
    margin: 0;
    padding: 0;
    font-family: Georgia, serif;
    background: white;
    color: black;
}

* {
    box-sizing: border-box;
    color: inherit;
}

h1 {
    font-size: 2rem;
}

.top {
    background-color: black;
}

.topInner {
    max-width: 1200px;
    height: 60px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.topContact a {
  display: flex;
  align-items: center;
}

.topContact a:hover,
.topContact a:focus {
    color: yellow;
    outline-color: yellow;
}

.topLogin a:hover,
.topLogin a:focus {
    outline: 2px solid yellow;
}

.siteName {
    max-width: 1200px;
    margin: 30px auto;
}

.siteName img {
    transition: opacity 500ms;
}

.siteName img:hover {
    opacity: 0.5;
}

.siteName a:focus {
    outline-color: grey;
}

.heroImage {
    position: relative;
    margin: auto;
}

.heroImage h1 {
    position: absolute;
    right: 5%;
    top: 15%;
    color: white;
    text-shadow: 0px 0px 4px black;
}

.heroImage img {
    width: 100%;
    height: auto;
}

.mainCats {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.mainCat {
    margin-top: 40px;
    flex-basis: 48%;
    position: relative;
}

.mainCat h2 {
    position: absolute;
    margin: 0;
    top: 50%;
    width: 100%;
    height: 50%;
    padding: 3%;
    background: rgba(255,255,255,0.7);
}

.mainCat img {
    width: 100%;
    height: auto;
}


@media screen and (max-width:767px) {
    *:focus {
        outline-color: transparent;
    }

    .topInner {
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .siteName {
        text-align: center;
    }

    .heroImage {
        display: flex;
        flex-direction: column-reverse;
    }

    .heroImage h1 {
        position: static;
        color: black;
        text-shadow: none;
        text-align: center;
    }

    .mainCats {
        flex-direction: column;
    }
    
    .mainCat {
        flex-basis: unset;
    }    
}